Addressing Tom Petch's comments

> The YANG module is totally devoid of references, which has to be fixed, at least in part, at some stage and the earlier it is fixed, the less time consuming reviewing is.
> 

- [x] add references when applicable

References added when applicable: see PR #6 

> s.5 says there is no open issue in this version.  The text gives the lie to this with 'open issue' in four places
> 

- [x] remove section 5: all the issues described in section 5 have been addressed either in this revision or in previous revisions

Section 5 removed because all the issues described in section 5 have been addressed either in this revision or in previous revisions: see PR #10 

> there are YANG statements commented out.  The last time I saw this it was because the Author could not make the YANG work
> 

- [x] review the YANG code and track these as open issues in github

Removed all the YANG statements comments out: see PR #6 

> It is another of those module that is really 100 or so independent YANG fragments in a different order to those other modules that are really 100 or so independent YANG fragments.  As was said in a recent IESG review, it is a shame we cannot go back and change the TEAS i.e. they got the underlying structure wrong:-( 
> 

- [x] clarify in the draft that the multiple augment statements to augment the TE label/bandwidth information are based on the guidelines provided by section 6 of RFC8795 (see for example the text in otn-topology draft).


Draft updated to clarify that the multiple augment statements to augment the TE label/bandwidth information are based on the guidelines provided by section 6 of RFC8795: see PR #10 

> the choice of YANG prefix makes comprehension harder
> 

- [x] align the prefix with the outcome of the prefix discussion on the mailing list

See #3 

See: https://mailarchive.ietf.org/arch/msg/ccamp/o6HYzsxzNKjWRJFa5CO9bYNqHs4/
